<h1> All Contacts </h1>

<ul>
  <% Contact.all.each do |contact| %>
    <li>
      <a href="/contacts/<%=contact.id%>"><%= contact.first_name %></a>
      <a href="/contacts/<%=contact.id%>"><%= contact.last_name %></a>
      <a href="/contacts/<%=contact.id%>"><%= contact.email %> </a>
      <a href="/contacts/<%=contact.id%>"><%= contact.note %></a></li>

  <% end %>
</ul>
